extends layout 

block content
    h1= title 
    h2= subtitle
    p Hey there, #{string}! Can I GET your username?

    form(action="/ps3/ps3-post", method="post")
        p
            | Username:
            input(type='text', name='username', value='')
        input(type='submit', value='Submit')